.memory {
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 10px;
}
.footer {
  display: flex;
  background-color: #add8e6;
  justify-content: space-between;
}
.left {
  display: flex;
}
.right {
  display: flex;
}
.centerIcon {
  display: flex;
}
p {
  margin-top: 5px;
}
.cardImage {
  max-height: 260px;
}
.cardBody {
  display: inline-block;
  min-height: 200px;
  background-color: #add8e6;
  width: 100%;
}
.cardCont {
  display: inline-block;
}
.delete {
  margin-right: 10px;
}
.flex-icons {
  display: flex;
}
